body{
    display: flex;
    background-color: rgb(200, 200, 200);
    font-family: 'Roboto', sans-serif;
}

.top,
.form_wrapper,
.list {
    flex: 1;
    margin: auto;
    display:flex;
}

.top{
    padding-top: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.top h4 {
    width: 90%;

}

.form_wrapper{
    background-color: rgba(180, 180, 180, 100);
    padding:  2rem 0 2rem;
    flex-direction: column;
    text-align: center;
}



.list{
    width: 90%;
    padding-top: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.list div {
    padding: 0.5rem; 
    box-sizing: border-box;
    min-width: 30%;
}

.list div li {
    list-style-type: none;
    text-indent: -1rem;
}


.red {
    color: red;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

